<!--수정, 삭제 버튼만 제외된 template 파일-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시판</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function searchBoard() {
            // 검색어가 있으면 일치하는 제목의 개수를 가져오고
            // 검색어가 없으면 전체 게시글이 몇 개인지 가져온다.
            const form = document.getElementById('form_search');
            axios.get(`/board/search?word=${form.word.value}`).then((res) => {
                alert('일치하는 제목의 게시글은 ' + res.data + '개 입니다.');
            });
        }

        function writeBoard() {
            // 제목, 내용, 작성자를 입력하고 "작성"버튼 눌렀을 때
            const form = document.getElementById('form_board');
            const data = {
                title: form.title.value,
                content: form.content.value,
                writer: form.writer.value,
            };

            axios.post(`/board`, data).then((res) => {
                location.reload();
            });
        }

        function editBoard(id) {
            const form = document.getElementById('form_board');
            const data = {
                id,
                title: form.title.value,
                content: form.content.value,
                writer: form.writer.value,
            };

            if (!data.title) {
                alert('제목을 입력해주세요!');
                return;
            }

            if (!data.content) {
                alert('내용을 입력해주세요!');
                return;
            }

            if (!data.writer) {
                alert('작성자를 입력해주세요!');
                return;
            }

            axios.patch(`/board`, data).then((res) => {
                location.reload();
            });
        }

        function deleteBoard(id) {
            console.log(id);
            axios.delete(`/board?id=${id}`).then((res) => {
                location.reload();
            });
        }
    </script>
</head>
<body>
<h1>게시판</h1>

<form id="form_search">
    <input type="text" name="word" placeholder="검색어" />
    <button type="button" onclick="searchBoard()">검색</button>
</form>
<br>

<form id="form_board">
    <input type="text" name="title" placeholder="제목" />
    <input type="text" name="content" placeholder="내용" />
    <input type="text" name="writer" placeholder="작성자" />
    <button type="button" onclick="writeBoard()">
        작성
    </button>
</form>
<br>

<table border="1">
    <tr>
        <th>No.</th>
        <th>ID</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    <!-- 타임리프 문법 이용해서 게시판 글 보여주기 -->
    <tr th:each="board:${list}">
        <td th:text="${board.getNo()}">번호</td>
        <td th:text="${board.getId()}">ID</td>
        <td th:text="${board.getTitle()}">제목</td>
        <td th:text="${board.getWriter()}">작성자</td>
        <td th:text="${board.getRegistered()}">작성일</td>
        <td><button th:onclick="editBoard([[${board.getId()}]])" type="button">수정</button></td>
        <td><button th:onclick="deleteBoard([[${board.getId()}]])" type="button">삭제</button></td>
    </tr>
</table>
</body>
</html>